@use '@angular/material' as mat;

mat-form-field {
    @include mat.form-field-density(-4);
}

.content {
    display: flex;
    gap: 10px;
}

.stackable {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stackable > * {
    flex: 1 1 200px;
}

.center-flex {
    display: flex;
    align-items: center;
}