@use '@angular/material' as mat;

mat-toolbar {
    @include mat.toolbar-overrides((
            container-background-color: #262d3e,
            container-text-color: var(--mat-sys-primary)
    ));
    border-bottom: 5px #35598a solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

mat-sidenav {
    border-right: 1px #2d2d2d solid;
    @include mat.sidenav-overrides((
            container-shape: 0,
            container-background-color: #0c0c0c
    ));
}

.sidenav {
    position: fixed;
    top: 64px; // Default height of toolbar, not available in css variables sadly
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

/* Responsive: on narrow screens the toolbar is usually shorter (56px). */
@media (max-width: 600px) {
    .sidenav {
        top: 56px; // Default height of mobile toolbar, not available in css variables sadly
    }
}

mat-sidenav {
    height: 100%;
}

mat-sidenav-content {
    height: 100%;
    overflow: auto;
}

.page-content {
    padding: 30px 20px;
}

.active-link {
    color: var(--mat-sys-primary)
}

.pointer {
    cursor: pointer;
}

mat-form-field {
    @include mat.form-field-density(-4);
}
