@use '@angular/material' as mat;

mat-form-field {
    @include mat.form-field-density(-4);
}

.toolbar {
    display: flex;
    gap: 5px;
    align-items: center;
}

.toolbar *:last-child {
    margin-left: auto;
}

pre {
    white-space: break-spaces;
}

.chart-section {
    display: flex;
    gap: 30px;
    max-width: 100%;
    flex-wrap: wrap;
}

.chart-section * {
    flex: 1 1 800px;
    min-width: 300px;
    box-sizing: border-box;
}