@using Microsoft.FluentUI.AspNetCore.Components
<div class="bigvalue-card">
    @if (CardIcon != null)
    {
        <div class="icon-container">
            <FluentIcon Value="@(CardIcon)" />
        </div>
    }
    <div class="bigvalue">
        <div class="value">@Value</div>
        <div class="label">@Label</div>
    </div>
</div>