.bigvalue {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
}

.value {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.label {
    display: flex;
    justify-content: center;
}