@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled

@if (IsLoading)
{
    <p>Loading airports...</p>
}
else
{
    <FluentNavMenu Width="250">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Size20.Home())">HomePage</FluentNavLink>
        @foreach (var summary in @AirportSummaries.OrderBy(x => x.Icao))
        {
            <FluentNavLink Href="@($"/airport/{summary.Icao}")">
                <AirportNavCard AirportSummary="summary"></AirportNavCard>
            </FluentNavLink>
        }

    </FluentNavMenu>
}