@if (isLoading$ | async) {
    <div class="spinner-container">
        <mat-spinner [diameter]="36"></mat-spinner>
    </div>
} @else {
    @let airports = airports$ | async;
    <div>
        <mat-form-field class="search-form-field" subscriptSizing="dynamic">
            <mat-label>Search Airport</mat-label>
            <input (input)="onSearchValueChange($event)" placeholder="EHXX" matInput >
            <mat-icon matIconSuffix>search</mat-icon>
        </mat-form-field>
        @for (airport of airports; track $index) {
            @if ($index > 1) {
                <mat-divider></mat-divider>
            }
            <div class="airport-item" matRipple routerLinkActive="active" [routerLink]="['/airport/', airport.icao]" >
                <div>
                    <mat-icon>circle</mat-icon>
                </div>
                <div>
                    <div class="title">{{ airport.icao }}</div>
                    <div>Issued at {{ airport.lastIssuedMetarDate | date:'HH:mm':'UTC' }}Z</div>
                    <div>Wind {{ airport.windDirection }}° at {{ airport.windSpeedKnots }}kt</div>
                </div>
                <div>
                    @if (airport.isAuto) {
                        <div>AUTO</div>
                    }
                    @if (airport.isCavok) {
                        <div>CAVOK</div>
                    }   
                </div>
            </div>
        }
    </div>
}

