@page "/"
@using DutchMetar.Web.Client.Components.Card
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<FluentCard>
    <h2>Hello World!</h2>
    Sample Card body text for testing purpose.
    <FluentButton Appearance="@Appearance.Accent">Click me</FluentButton>
</FluentCard>