@page "/"
@using DutchMetar.Web.Client.Components.Card
@using DutchMetar.Web.Client.Components.PageLayout
@using Microsoft.FluentUI.AspNetCore.Components

<PageLayout>
    <TitleContent>Home</TitleContent>
    <PageContent>
        <FluentCard>
            <h2>Hello World!</h2>
            Sample Card body text for testing purpose.
            <FluentButton Appearance="@Appearance.Accent">Click me</FluentButton>
        </FluentCard>
    </PageContent>
</PageLayout>