@page "/"
@using DutchMetar.Web.Client.Components.Card

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Card>
    <CardTitle>Card Title</CardTitle>
    <CardBody>Sample Card body text for testing purpose.</CardBody>
</Card>