@page "/"
@using DutchMetar.Web.Client.Components.Card
@using DutchMetar.Web.Client.Components.PageLayout
@using Microsoft.FluentUI.AspNetCore.Components

<PageLayout>
    <TitleContent>DutchMetar</TitleContent>
    <PageContent>
        <p>
            DutchMetar is a site dedicated to displaying meteorological data on Airports and other available weather stations within the Netherlands.
        </p>
        <p>
            All data shown on this website is retrieved from The Royal Netherlands Meteorological Institute (KNMI) using their KNMI Data Platform.
            Some data on this site might be outdated or incorrect. Please do not use this site as your primarily source for flight planning.
        </p>
        <p>
            The website is fully opensource and currently maintained on hobby basis. Feel free to checkout the repository on GitHub (see the footer) and make contributions!
        </p>
        <span>This website is powered by the following:</span>
        <ul>
            <li>ASP .NET 10</li>
            <li>Blazor Web</li>
            <li>Microsoft SQL Server</li>
            <li>And lots of free time...</li>
        </ul>
    </PageContent>
</PageLayout>