.icao {
    font-size: 20px;
    font-weight: bold;
}

.text {
    font-size: 13px;
}

.margin-up {
    margin-top: 20px;
}

.title-region {
    display: flex;
    justify-content: space-between;
}

.badge {
     padding: 1px 5px;
     font-size: 11px;
     font-weight: bold;
     border-radius: 5px;
 }

.auto {
    background-color: #bfbfbf;
}

.cavok {
    background-color: darkolivegreen;
}