<div>
    <div class="title-region">
        <div class="icao">@AirportSummary.Icao</div>
        <div>
            @if (AirportSummary.IsAuto)
            {
                <div class="badge auto">AUTO</div>
            }
            @if (AirportSummary.IsCavok)
            {
                <div class="badge cavok">CAVOK</div>
            }
        </div>
    </div>
    <div class="text margin-up">@FormatWindData(AirportSummary.WindDirection, AirportSummary.WindSpeedKnots)</div>
    <div class="text">Issued at @AirportSummary.LastIssuedMetarDate.ToUniversalTime().ToString("HH:mm") Z</div>
</div>