:host {
    display: flex;
    flex-direction: var(--direction, column);
    gap: 30px;
    flex-wrap: var(--wrap, nowrap);
}

:host([direction="horizontal"]) {
    --direction: row;
    --wrap: wrap;
}

:host([direction="vertical"]) {
    --direction: column;
    --wrap: nowrap;
}

:host([wrap]) {
    --wrap: wrap;
}