.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value {
    font-weight: 500;
}

.label {
    color: var(--mat-sys-primary);
}

.icon-container {
    transform: scale(1);
}