.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.value {
    font-size: 24px;
}

.label {
    color: var(--mat-sys-primary);
}

:host {
    flex: 1 1 200px;
}

mat-card-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-container {
    transform: scale(1.3);
}