.navbar {
    background-color: #005e91;
    width: 100%;
    height: 64px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.29));
}

.navbar-branding {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.navbar-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}