.navbar {
    background-color: #0098ea;
    width: 100%;
    height: 64px;
}

.navbar-branding {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.navbar-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}