@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Size16 = Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size16
@using Size24 = Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size24
@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<div>
    <FluentLayout >
        <FluentHeader>
            DutchMetar
        </FluentHeader>
    
        <FluentStack Orientation="Orientation.Horizontal" Width="100%">
            <div class="padded-element">
                <NavMenu></NavMenu>
            </div>

            <div class="padded-element">
                <FluentBodyContent>
                    @Body
                </FluentBodyContent>
            </div>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white; text-align: center;")">
            Footer Text
        </FluentFooter>
    </FluentLayout>
</div>