@using Microsoft.FluentUI.AspNetCore.Components
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons
@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<div>
    <FluentLayout>
        <FluentHeader>
            DutchMetar
        </FluentHeader>
    
        <FluentStack Orientation="Orientation.Horizontal" Style="height: calc(100vh - 80px);" Width="100%">
            <div class="padded-element">
                <NavMenu></NavMenu>
            </div>

            <div class="padded-element">
                <FluentBodyContent>
                    @Body
                </FluentBodyContent>
            </div>
        </FluentStack>

        <FluentFooter Style="height: 30px;background-color: black;display:flex;align-items: center;padding: 0 10px;">
            <FluentIcon Value="@(new Icons.Color.Size20.Warning())" />
            <span style="margin-left:5px;">Work in progress</span>
            <FluentSpacer></FluentSpacer>
            <FluentIcon Value="@(new Icons.Regular.Size20.Code())"/>
            <a style="margin-left:5px;" href="https://github.com/Okan1701/DutchMetar">Okan1701/DutchMetar</a>
        </FluentFooter>
    </FluentLayout>
</div>