@using DutchMetar.Web.Client.Components

<div class="airports">
    <div class="airport">
        <AirportNavCard></AirportNavCard>
    </div>
    <div class="airport">
        <AirportNavCard></AirportNavCard>
    </div>
    <div class="airport">
        <AirportNavCard></AirportNavCard>
    </div>
</div>