.badge {
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 1000;
    text-align: center;
}

.success {
    background-color: #007300;
    color: #c1ffc1;
}

.danger {
    background-color: #007300;
    color: #c1ffc1;
}

.primary {
    background-color: #003675;
    color: #bad9ff;
}

.neutral {
    background-color: #2b2b2b;
    color: #ffffff;
}

.narrow {
    border-radius: 5px;
    padding: 0 5px;
    font-size: 11px;
}
