<app-status-display [status]="loadingStatus()">
    <app-stack>
        
        <div class="page-header-flex">
            <div class="page-header">
                @if (airportDetails().lastUpdated) {
                    <div class="page-header-subtitle">
                        <span>Last update: {{ airportDetails()?.lastUpdated | date: 'HH:mm' : 'UTC' }}Z</span>
                    </div>
                }
                @if (airportDetails().name) {
                    <h1 class="page-header-title">
                        @if (airportDetails().name) {
                            <span>{{ airportDetails().name }}</span>
                            <span class="page-header-title-suplement">|</span>
                        }
                        <span [class.page-header-title-suplement]="airportDetails().name">{{ airportDetails().icao }}</span>
                    </h1>
                }
                <div class="page-header-title">
                    @if (airportDetails().latestWeather?.isCorrected) {
                        <app-badge type="primary">COR</app-badge>
                    }
                    @if (airportDetails().latestWeather?.isCavok) {
                        <app-badge type="success">CAVOK</app-badge>
                    } @else if (airportDetails().meteoCondition === MeteoCondition.Vmc) {
                        <app-badge type="success">VMC</app-badge>
                    } @else if (airportDetails().meteoCondition === MeteoCondition.Imc) {
                        <app-badge type="danger">IMC</app-badge>
                    } @else if (airportDetails().meteoCondition === MeteoCondition.Marginal) {
                        <app-badge type="warning">MARGINAL</app-badge>
                    }
                    @if (airportDetails().latestWeather?.isAuto) {
                        <app-badge type="neutral">AUTO</app-badge>
                    }
                </div>
            </div>
            <div>
                <button (click)="refresh()" mat-icon-button>
                    <mat-icon matTooltip="Refresh page">refresh</mat-icon>
                </button>
            </div>
        </div>

        <h2>Latest Weather</h2>
        @if (airportDetails().latestWeather) {
            <app-airport-latest-weather
                [airportWeather]="airportDetails().latestWeather!"
            ></app-airport-latest-weather>
        } @else {
            <p>No information about current weather available.</p>
        }

        <h2>Historical Data</h2>
        @if (airportDetails().icao) {
            <app-airport-history-data
                [airportIcao]="airportDetails().icao"
            ></app-airport-history-data>
        }
    </app-stack>
</app-status-display>
