.page-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-header-title > h1 {
    margin: 0;
}

.page-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}