<app-status-display [status]="loadingStatus()">
    <app-stack>
        <div class="page-header">
            <div class="page-header-title">
                <h1>{{ airportDetails().icao }}</h1>
                @if (airportDetails().latestWeather?.isCorrected) {
                    <app-badge type="primary">COR</app-badge>
                }
                @if (airportDetails().latestWeather?.isCavok) {
                    <app-badge type="success">CAVOK</app-badge>
                }
                @if (airportDetails().latestWeather?.isAuto) {
                    <app-badge type="neutral">AUTO</app-badge>
                }
            </div>
            @if (airportDetails().name) {
                <span class="page-header-subtitle">{{ airportDetails().name }}</span>
            }
            @if (airportDetails().lastUpdated) {
                <div>
                    <span>Last update: {{ airportDetails()?.lastUpdated | date: 'HH:mm' : 'UTC' }}Z</span>
                </div>
            }
        </div>

        <h2>Latest Weather</h2>
        @if (airportDetails().latestWeather) {
            <app-airport-latest-weather
                [airportWeather]="airportDetails().latestWeather!"
            ></app-airport-latest-weather>
        } @else {
            <p>No information about current weather available.</p>
        }

        <h2>Historical Data</h2>
        @if (airportDetails().icao) {
            <app-airport-history-data
                [airportIcao]="airportDetails().icao"
            ></app-airport-history-data>
        }
    </app-stack>
</app-status-display>
